.add-hotel {
        width: 50vw;
        padding: 1vw;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 20px 0px #cdcdcd5e;
        border-radius: 5px;
}
.input-label {
    margin-bottom: 1vh;
    align-self: flex-start;
}
.hotel-input {
    width: 30vw;
    margin-bottom: 1vh;
    height: 5vh;
}
.add-button {
    display: flex;
    justify-content: center;
    font-size: 16px;
    align-items: center;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: #0096FF;
    border: 1px solid;
    height: 5vh;
    width: 12vw;
}
.back-button {
    color: #0096FF;
    position: absolute;
    top: 5px;
    left: 5px;
}
.success-add-button {
    display: flex;
    justify-content: center;
    font-size: 16px;
    align-items: center;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: #00A36C;
    border: 1px solid;
    height: 5vh;
    width: 12vw;
}
.error-text {
    color: #FF5733;
    font-size: 10px;
    margin-bottom: 10px;
}
.input-container {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
}