.hotel-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    box-shadow: 1px 1px 20px 0px #cdcdcd5e;
    border-radius: 5px;
}
.hotel-card {
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 20px 0px #cdcdcd5e;
    border: 1px solid #cdcdcd5e;
    position: relative;
    align-items: center;
    border-radius: 5px;
    width: 35vw;
    height: 14vh;
    margin: 1vh 1vw;
}
.hotel-name-text {
    font-size: 20px;
}
.hotel-card:hover {
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 20px 0px #cdcdcd5e;
    border: 1px solid #cdcdcd5e;
    position: relative;
    align-items: center;
    border-radius: 5px;
    width: 35.5vw;
    height: 14.2vh;
    margin: 1vh 1vw;
}
.image-container {
    margin: 1vh 1vw;
    width: 10vw;
    height: 10vh;
}
.info-container {
    display: flex;
    flex-direction: column;
}
.button-container {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    width: 22vw;
    justify-content: space-between;
}
.score-button {
    display: flex;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    align-items: center;
    border-radius: 5px;
    color: #0096FF;
    border: 1px solid #0096FF;
    height: 3vh;
    width: 10vw;
}
.score-text {
    padding-left: 0.3vw;
    color: #42c188;
    background-color: #e6eaee;
    width: 10vw;
}
.pagination-container {    
    min-width: 30vw;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1vh;
    max-width: 56vw;
}
.pagination-item {
    cursor: pointer;
}
.delete-button {
    width: 2.2vw;
    height: 2.2vw;
    border-radius: 50%;
    background-color: #FF5733;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    cursor: pointer;
    right: -5px;
}
.add-hotel-container {
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26.5vw;
    flex-direction: row;
}
.add-hotel-icon {
    width: 5vw;
    height: 5vh;
    border: 1px solid #0096FF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #0096FF;
}
select {
    width: 18vw;
    height: 4vh;
    border: 1px solid #cdcdcd5e;
    box-shadow: 1px 1px 20px 0px #cdcdcd5e;
    border-radius: 5px;
    padding: 7px;
}
.popup-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #80808070;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-item {    
    width: 35vw;
    height: 15vw;
    background-color: white;
    border-radius: 5px;
    display: flex;
    text-align: center;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
}
.popup-buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.close-popup {
    position: absolute;
    right: -5px;
    cursor: pointer;
    top: -5px;
    background-color: #878484;
    border-radius: 50%;
    width: 2.2vw;
    height: 2.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.popup-delete-button {
    display: flex;
    justify-content: center;
    font-size: 12px;
    align-items: center;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: #0096FF;
    border: 1px solid;
    height: 5vh;
    width: 12vw;

}
.popup-cancel-button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 12px;
    align-items: center;
    border-radius: 5px;
    color: #0096FF;
    border: 1px solid #0096FF;
    height: 5vh;
    width: 12vw;
}