.hotel-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hotel-card {
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
    box-shadow: 2px 2px lightgrey;
    position: relative;
    align-items: center;
    border-radius: 5px;
    width: 35vw;
    height: 14vh;
    margin: 1vh 1vw;
}
.hotel-card:hover {
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
    box-shadow: 2px 2px lightgrey;
    position: relative;
    align-items: center;
    border-radius: 5px;
    width: 36vw;
    height: 16vh;
    margin: 1vh 1vw;
}
.image-container {
    margin: 1vh 1vw;
    width: 10vw;
    height: 10vh;
}
.info-container {
    display: flex;
    flex-direction: column;
}
.button-container {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    width: 22vw;
    justify-content: space-around;
}
.score-button {
    display: flex;
    justify-content: center;
    font-size: 12px;
    align-items: center;
    border-radius: 5px;
    color: blue;
    border: 1px solid blue;
    height: 3vh;
    width: 10vw;
}
.score-text {
    color: #35f200;
    background-color: #e8eefa;
    width: 10vw;
}
.pagination-container {    
    min-width: 30vw;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1vh;
    max-width: 56vw;
}
.pagination-item {
    cursor: pointer;
}
.delete-button {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    cursor: pointer;
    right: -5px;
}
.add-hotel-container {
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 38vw;
    flex-direction: row;
    font-weight: bold;
}
.add-hotel-icon {
    width: 5vw;
    height: 5vh;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: blue;
}
select {
    width: 15vw;
    height: 4vh;
    border: 1px solid lightgray;
    box-shadow: 1px 1px lightgrey;
    border-radius: 5px;
    padding: 7px;
}